<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../all.css" />
    <link rel="stylesheet" href="../financial.css" />
    <title>Financial Details</title>
  </head>
  <body>
    <div class="loader" id="loader">
      <h1>Loading...</h1>
    </div>
    <section class="financial-details">
      <div class="financial-details-menu">
        <div class="icon-progress" id="progress-1">
          <i class="fas fa-globe"></i>
          <div class="progress-bar"></div>
        </div>
        <div class="icon-progress" id="progress-2">
          <i class="fas fa-globe"></i>
          <div class="progress-bar"></div>
        </div>
        <div class="icon-progress" id="progress-3">
          <i class="fas fa-globe"></i>
          <div class="progress-bar"></div>
        </div>
      </div>

      <div class="financial-details-body"></div>
    </section>

    <script src="../js/financial_details.js"></script>
  </body>
</html>
